body {
    background: linear-gradient(180deg, #B9D3E6 0%, #82AAC7 100%);
    font-family: 'Roboto', sans-serif;
}

.tab {
    background-color: #FFFFFF;
    color: #000000;
    max-width: 40em;
}

a {
    color: #2EB4B0;
    font-weight: 300;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #196967;
}